{% extends "layout.html" %} {% block header %}
<title>Edit Content - {{ websiteName }}</title>
<script>
    function RemoveDisabled() {
        var removedis1 = document.getElementById('username');
        removedis1.disabled = false;
        var removedis2 = document.getElementById('mobile_no');
        removedis2.disabled = false;
    }
</script>
{% endblock %} {% block content %}
{% if session.logged_in %}
<div class="formContainer">
  <form action="{{ url_for('doEdit') }}" method=post onSubmit="javascript: RemoveDisabled();">
    Userid:<input type=text disabled="disabled" value="{{ profile[0] }}" name=userid id=userid>
    Username:<input type=text disabled="disabled" value="{{ profile[1] }}" name=username id=username>
    Password:<input type=password disabled="disabled" value="{{ profile[2] }}" name=password id=password>
    Password:<input type=text disabled="disabled" value="{{ profile[3] }}" name=fullname id=fullname>
    Password:<input type=text disabled="disabled" value="{{ profile[4] }}" name=emailid id=emailid>
    Mobile No.:<input type=text disabled="disabled" value="{{ profile[5] }}" name=mobile_no id=mobile_no>
    <!-- <input type=submit value="Save Profile" width=100> -->
  </form>
  </div>
{% endif %} {% endblock %}
